
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;

}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

.cardsbb {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h3 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #22d3ee
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: none !important;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  box-sizing: border-box;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
}

.card-back {
  background-color: #0000009f;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
  box-sizing: border-box;
  /* box-shadow: 0px 0px 6px rgba(95, 255, 89, 0.521) */
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .cardsbb {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cardsbb {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}